@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  @if $top != "" { top: $top; }
  @if $right != "" { right: $right; }
  @if $bottom != "" { bottom: $bottom; }
  @if $left != "" { left: $left; }
}

@mixin material-icon($code) {
  content: $code;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@mixin radiobuttons-circle($background, $color, $diameter) {
  width: $diameter;
  height: $diameter;
  background: $background;
  border-radius: 50%;
  display      : block;
  text-align   : center;
  line-height  : 25px;
  color: $color;
  font-size    : 16px;
  font-style   : normal;
  cursor       : default;
}
